body{
  background-color: rgb(145, 179, 209);
}
.userTable {
  width: 60%;
  margin: 50px auto;
  background-color: rgb(205, 230, 224);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}

.no-underline {
  text-decoration: none;
}

.userTable table {
  width: 100%;
  margin-top: 30px;
}
.error{
  color: red;
}
.course-image {
  width: 40px; /* Adjust the size as needed */
  height: 40px;
  border-radius: 50%;
  object-fit: cover; /* Ensure the image covers the circular area */
}

.userTable h3{
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  color: darkcyan;
  text-transform: capitalize;  
}

.userTable input{
  margin: 10px;
  padding: 5px;
  width: 80%;
  text-align: center;
  border-radius: 10px;
}

.userTable .input-div button{
  margin: 2px;
  padding: 5px;
  width: 15%;
  border-radius: 10px;
}


.userTable table thead th {
  background-color: darkcyan;
  color: white;
  text-align: center;
}


.userTable table tbody td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
.actionButtons button {
  margin: 0 10px;
}
.actionButtons text {
  color: black;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-text {
  margin: 0 10px;
  font-size: 18px;
}
